
.main {
    background-color: #f2f2f2;
}
.center {
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper {
    width: 700px;
    height: 500px;
    background-color: gray;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position: relative;
    transform: translateX(-20px);
}

.picture {
    width: 700px;
    height: 500px;
    padding-top: 59px;
    background-size: 700px 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
}


.enterActive {
    transform:scale(1)
  }
  
  .enterDone {
    transform:scale(1)
  }
  
  .exitActive {
    transform:scale(0.9)
  }
  
  .exitDone {
    transform:scale(1)
  }