.arrow_box{
    position:relative;
    width:500px;
    height:80px;
    background:#0099FF;
    padding:10px;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.arrow_box_after{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    border-color: rgba(0, 153, 255, 0);
    border-top-width:19px;
    border-bottom-width:19px;
    border-left-width:20px;
    border-right-width:20px;
    margin-left: -20px;
    border-top-color:#0099FF;
    top:100%;
    left:50%;
}
