.circle {
    display: inline-block;
    width:30px;
    height:30px;
    border-radius: 50%;
    border: solid 1px;
    line-height: 30px;
    text-align:center;
    font-size: 20px;
    margin-left: 10px;

    position: relative;
    cursor: pointer;
}

.description {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
.description:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    margin-left: -15px;
}
.circle:hover .description{
    display: inline-block;
    top: 30px;
    left: -30px;
}